* {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: antiquewhite;
    color: brown;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
html {
    scroll-behavior: smooth;
}
.nav-list {
    list-style: none;
}
.nav-link {
    padding: 0 20px;
    line-height: 50px;
  }
  a {
    text-decoration: none;
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
.nav-link {
    transition: .3s;
}
.title {
font-weight: 700;
}
.Education {
    list-style: none;
    padding: 0;
}
.cv-link {
    color: chocolate;
    font-family: 'Times New Roman', Times, serif;
}
